style.css
.vscode/launch.json
pic.JPG
pink laptop.JPG
pink laptop2.JPG
pic2.JPG
header1.JPG
my grandmother.JPG
My older sister's family-1.JPG
My older sister's family-2.JPG
my parents.JPG
my sister's wedding.JPG
My twins.JPG