.body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;  
}

header h1 {
    font-family:"Roboto";
    font-size: 80px;
    text-align: center;
    letter-spacing: 2px;
    color: whitesmoke;
    position: absolute;
    top: -30px;
    left: 10px;
    width: 100%;
    -webkit-text-stroke: 2px gray;
    text-shadow: 2px 2px gray;
}

header {
    width: auto;
    width:90%;
    position:relative;
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 155px;
    background-color:rgb(233, 218, 220);
    background: no repeat center center fixed;
}

    ul {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    color: blue;
}

.th{
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family:"Roboto";
    text-align: left;
    letter-spacing: 2px;
    color: rgb(209, 179, 184);
    -webkit-text-stroke: 1px gray;
    text-shadow: 2px 2px gray;
    font-size: 50px;
    font-weight: bolder;
    margin: 10px;
}

.pic {
    float: right;
    margin: 10px;
    padding: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color:rgb(233, 218, 220) ;
    margin: 10px;
    padding: 5px;
    justify-content: center;
}    

.flex-container div {
    margin: 10px;
    font-size: 30px;
    text-align: center;
    background-color:rgb(209, 179, 184) ;
}

.grid-images {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    grid-gap: 10px;
    background-attachment: fixed;
    background-size: cover;
    background-color:rgb(91, 148, 88);
}

.grid-images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 10px;
    margin: 10px;
    align-items: center;
    background-color:rgb(65, 133, 62);
}

img[src*='my sister\'s wedding.jpg'] {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    background-color:rgb(65, 133, 62);

}

img[src*='my parents.jpg'] {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:rgb(65, 133, 62);

}

img[src*='my grandmother.jpg'] {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:rgb(65, 133, 62);

}

img[src*='My twins.jpg'] {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:rgb(65, 133, 62);

}

img[src*='My older sister\'s family-1'] {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:rgb(65, 133, 62);

}

img[src*='My older sister\'s family-2'] {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:rgb(65, 133, 62);

}

#hfam {
    font-family:"Roboto";
    text-align: center;
    letter-spacing: 2px;
    top: 10px;
    color: #7aac61;
    -webkit-text-stroke: 2px rgb(44, 87, 23);
    text-shadow: 4px 4px (44, 87, 23);
    font-size: 50px;
    font-weight: bolder;
    margin: 10px;
}

footer {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    background-color:rgb(233, 218, 220) ;
    padding: 10px;
    margin: 10px;
}
